<%= form_for [Audit.first, Statement.new] do |f| %>
  <label>Título</label>
  <input type="text" placeholder="Título">
  <label>Mensaje</label>
  <textarea rows="4"></textarea>
  <%= f.file_field(:attachment) %>
  <input type="submit" value="Enviar documento" class="button expanded">
<% end %>




