<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
        <li>
          <a href="#0"><strong>Auditoría Ciudadana Municipal de Deuda y Políticas Públicas del Ayuntamiento de Madrid</strong></a>
          <ul class="nested vertical menu">
            <li><a href="#1"><strong>¿Qué es la Auditoria Ciudadana del Ayuntamiento de Madrid?</strong></a></li>
            <li><a href="#2"><strong>¿Cuáles son sus objetivos?</strong></a></li>
            <li><a href="#3"><strong>¿Por qué una Auditoría Ciudadana?</strong></a></li>
            <li><a href="#4"><strong>¿Qué tipo de cosas analiza la Auditoría?</strong></a></li>
            <li><a href="#5"><strong>¿Quién realiza la auditoría?</strong></a></li>
            <li><a href="#6"><strong>¿Cuánto durará el proceso de Auditoría?</strong></a></li>
            <li><a href="#7"><strong>¿Qué papel juega la participación ciudadana en la Auditoría?</strong></a></li>
            <li><a href="#8"><strong>¿Cómo puedo participar?</strong></a></li>
          </ul>
        </li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1 id="0">Auditoría Ciudadana Municipal de Deuda y Políticas Públicas del Ayuntamiento de Madrid</h1>

    <h2 id="1">¿Qué es la Auditoria Ciudadana del Ayuntamiento de Madrid?</h2>
    <p>Es un proceso de identificación y análisis de aquellas políticas municipales que hayan podido tener un impacto negativo sobre la ciudadanía madrileña. Estos impactos negativos no son solo de tipo económico (efectos sobre el nivel de endeudamiento, inversión, o empleo, por ejemplo), sino también de tipo social, medioambiental o de género. Estudiar las malas prácticas que han generado estos impactos negativos permitirá tomar medidas que impidan su repetición en el futuro. Además, la información obtenida permitirá a la ciudadanía mejorar su conocimiento sobre la gestión municipal, ampliando así su capacidad de decisión en este ámbito.</p>

    <h2 id="2">¿Cuáles son sus objetivos?</h2>
    <ol>
      <li>Obtener y difundir información relevante sobre la gestión de los recursos públicos municipales.</li>
      <li>Analizar la gestión municipal según criterios de utilidad pública para la ciudadanía.</li>
      <li>Obtener conclusiones que eviten la repetición futura de malas prácticas detectadas.</li>
      <li>Habilitar mecanismos que integren el control ciudadano en el funcionamiento económico ordinario del ayuntamiento.</li>
    </ol>

    <h2 id="3">¿Por qué una Auditoría Ciudadana?</h2>
    <p>La auditoría ciudadana es una herramienta que fortalece la transparencia del funcionamiento económico del ayuntamiento. Es un ejercicio de rendición de cuentas que permite avances tanto en el plano democrático, en la medida en que se amplían los marcos de información y participación ciudadana, como de eficiencia, ya que se evitan casos de mal uso de los fondos públicos y de mala orientación de las políticas.</p>
    <p>En el caso del Ayuntamiento de Madrid, además, existen sobrados indicios de malas prácticas en el uso de recursos públicos que no deberían volver a repetirse. Por ejemplo, el hecho de  que desde la llegada al gobierno municipal de Ruíz Gallardón la deuda pública  haya llegado a multiplicarse hasta por 8, con el consiguiente perjuicio financiero para los contribuyentes, mientras algunos servicios municipales importantes deterioraban visiblemente su calidad, nos enfrenta a una paradoja: ¿Cómo es posible que uno de los municipios más ricos del país, con un PIB per cápita superior al de cualquier país de la UE (a excepción de Luxemburgo) y casi el doble de la media española, no tenga capacidad para proteger a sus vecinos más vulnerables?  La Auditoría trata de responder a esta pregunta y evitar que esta situación se vuelva a repetir.</p>

    <h2 id="4">¿Qué tipo de cosas analiza la Auditoría?</h2>
    <p>La auditoría que llevamos a cabo es integral porque analiza toda aquella intervención pública con indicios de haber generado impacto negativo en distintas dimensiones. Nos interesan impactos negativos en términos financieros, económicos, sociales, ecológicos y también de género.</p>
    <ul>
      <li><strong>Impacto financiero</strong>: perjuicio monetario para la ciudadanía, que puede deberse a la pérdida injustificada de ingresos municipales, la realización de gastos no procedentes o la aplicación de políticas financieras inadecuadas.</li>
      <li><strong>Impacto económico</strong>: efectos negativos sobre inversiones, empleo, prestación de servicios, etc.</li>
      <li><strong>Impacto social</strong>: incremento de desigualdad, pobreza y exclusión (ejemplos: venta de viviendas de protección oficial a empresas privadas, legislación que no permite la conciliación de la vida laboral y familiar, actuaciones que deterioren el servicio de escuelas infantiles, etc).</li>
      <li><strong>Impacto medioambiental</strong>: efectos negativos sobre el medioambiente (ejemplos: obras que provocan un daño ecológico importante, actuaciones que elevan de forma sobresaliente la contaminación, dejadez en el cuidado de espacios verdes, etc).</li>
      <li><strong>Impactos de género</strong>: perpetuación o aumento de las desigualdades entre mujeres y hombres (ejemplos: producción y distribución de información sexista, mismas pruebas de acceso para ambos sexos en oposiciones para bomberos o policías, ausencia de medidas legislativas que fomenten la igualdad, etc).</li>
    </ul>

    <p>Pongamos algunos ejemplos hipotéticos del tipo de cuestiones que la Auditoría Ciudadana debería contribuir a despejar para mejorar el funcionamiento municipal: ¿Está equilibrado el gasto municipal de una gran infraestructura concreta respecto a su utilidad pública? ¿Era el recurso al endeudamiento la mejor estrategia financiera desde la perspectiva de los contribuyentes? ¿La actividad municipal directa e indirecta garantiza unas condiciones laborales adecuadas? ¿Y una prestación suficiente y de calidad para la ciudadanía? ¿Funcionan las empresas municipales con adecuación a los criterios y objetivos públicos que les corresponden? ¿Respeta el ayuntamiento la legislación respecto a impacto medioambiental en las intervenciones que emprende? ¿vela por un medioambiente saludable para la ciudadanía de Madrid? ¿Las competencias municipales en servicios sociales, educación infantil y atención a mayores, se cumplen atendiendo a criterios de calidad y garantizando servicios y prestaciones suficientes a los colectivos más vulnerables?  ¿La intervención municipal contribuye a avanzar en términos de igualdad entre hombre y mujeres, o por el contrario perpetua o incrementa esas desigualdades?.</p>

    <p>Por consiguiente, el abanico de intervenciones públicas que pueden ser objeto de auditoría es muy amplio: medidas financieras o fiscales que hayan podido contribuir a aumentar injustificadamente la deuda municipal, contratos integrales, operaciones de compra o venta de patrimonio municipal, o grandes proyectos de inversión en infraestructuras, son ámbitos claro de estudio. Pero también lo son las políticas municipales en los ámbitos de educación infantil, servicios sociales o dependencia, la gestión de espacios verdes y de residuos y contaminantes, o toda aquella intervención municipal en que se pueda identificar un impacto diferencial en función del sexo o un reforzamiento de las desigualdades.</p>

    <p>No serán objeto de investigación, sin embargo, denuncias a particulares por prácticas o comportamientos concretos, así como actuaciones ajenas al ámbito de competencias del Ayuntamiento de Madrid.</p>

    <h2 id="5">¿Quién realiza la auditoría?</h2>
    <p>La Auditoria Ciudadana se coordina desde el Área de Economía y Hacienda del Ayuntamiento.  La coordinación conjuga información y tareas que provienen de tres ámbitos diferenciados: el propio Ayuntamiento, la ciudadanía madrileña y entidades académicas y profesionales independientes.</p>

    <ol>
      <li>El Ayuntamiento cuenta con una Subdirección de Auditoría de la Deuda y las Políticas Públicas (adscrita al Área de Economía y Hacienda) dedicada específicamente a realizar trabajos para la Auditoría Ciudadana. Por otro lado, el Área de Participación Ciudadana, Transparencia y Gobierno Abierto diseñará y pondrá en marcha los mecanismos de participación ciudadana de la Auditoría.</li>
      <li>La ciudadanía madrileña puede participar en todas las fases de la Auditoría a través de diversas herramientas y canales, presenciales y digitales que le permiten estar informada de todo el proceso, controlarlo e intervenir en él.</li>
      <li>Consejo Académico Asesor: Formado por personas de perfil académico y profesional provenientes de universidades, centros de investigación y otras entidades, especialistas en los distintos ámbitos de análisis de la auditoría. (enlace a composición y breve cv de miembros del consejo)</li>
    </ol>

    <h2 id="6">¿Cuánto durará el proceso de Auditoría?</h2>
    <p>El objetivo es que el proceso de Auditoría Ciudadana se instale de forma permanente en el funcionamiento del Ayuntamiento, de forma que no solo las intervenciones municipales pasadas sino también las presentes y futuras garanticen someterse a criterios de transparencia y control ciudadano. Por tanto, la Auditoría Ciudadana tiene vocación de permanencia: ha llegado para quedarse.</p>

    <p>Como primer paso, la Auditoría Ciudadana de la Deuda y las Políticas Públicas ha de responder al mandato del Pleno Municipal del 22 de julio, que encomienda el análisis de la deuda y las políticas públicas de las dos últimas legislaturas de gobierno municipal. Así que este será el primer cometido de la Auditoría.</p>

    <p>En septiembre de 2015 arrancaron los <strong>trabajos preparatorios de la Auditoría</strong>:</p>
    <ul>
      <li>Diseño del proceso de Auditoría Ciudadana.</li>
      <li>Formación de equipos: subdirección y consejo académico asesor.</li>
      <li>Recopilación de indicios preliminares de casos a auditar.</li>
    </ul>

    <p>Ahora: arranca la <strong>segunda fase</strong></p>
    <ul>
      <li>Lanzamiento de mecanismos de participación ciudadana.</li>
      <li>Identificación de casos con indicios de posibles impactos negativos.</li>
      <li>Recopilación y análisis de indicios.</li>
    </ul>

    <p><strong>Tercera fase</strong>: análisis de impactos.</p>
    <p><strong>Cuarta fase</strong>: difusión de resultados y consultas.</p>

    <h2 id="7">¿Qué papel juega la participación ciudadana en la Auditoría?</h2>
    <p>La participación ciudadana es un pilar básico de la Auditoría.</p>
    <p>Se habilitarán mecanismos para que la participación pueda darse en los siguientes ámbitos:</p>
    <ul>
      <li>Identificación de casos de políticas municipales con posibles impactos negativos sobre la ciudadanía que deban ser sometidos a la Auditoría.</li>
      <li>Aportación de indicios de posibles impactos negativos, ya sean de tipo financiero, económico, social, medioambiental o de género.</li>
      <li>Participar en el proceso de análisis de impactos.</li>
      <li>Conocer los resultados parciales y finales de la Auditoría.</li>
      <li>Proponer y participar en consultas ciudadanas que se deriven de los resultados obtenidos por la Auditoría, tomando las decisiones finales sobre las actuaciones más relevantes a tomar como resultado de la Auditoría.</li>
    </ul>

    <h2 id="8">¿Cómo puedo participar?</h2>
    <p>En la fase que ahora se abre, la participación ciudadana se centrará fundamentalmente en la identificación de posibles casos a auditar y la recopilación de indicios de posibles impactos negativos.</p>
    <p>Para posibilitar y estimular la participación se habilitarán mecanismos de tipo digital y presencial:</p>
    <ul>
      <li>A través de Decide Madrid, espacio digital de participación y encuentro ciudadano que permitirá recoger en un mismo espacio la información y documentación relevante sobre los indicios de malas prácticas. Todo el material volcado estará debidamente clasificado y podrá ser consultado y procesado por cualquier persona.</li>
      <li>A través de los Foros Locales de los Distritos, se impulsará la constitución de mesas o grupos de Auditoría. Estos serán espacios estables y asamblearios en los que personas a título individual y entidades del distrito podrán participar en el proceso de Auditoria.</li>
    </ul>
  </div>
</div>